<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shebao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2219B0571FAD6A87006298C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2219B06F1FAD6A87006298C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2219B07A1FAD6A87006298C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
